jonathonl/shrinkwrap@4bd273ea15c571843ba99b4756c3372a49bc935b
htslib,https://github.com/samtools/htslib/releases/download/1.6/htslib-1.6.tar.bz2 --hash md5:d6fd14e208aca7e08cbe9072233d0af9 -DCMAKE_VERBOSE_MAKEFILE=1 --cmake dep/htslib.cmake
